server:
  port: 8080

spring:
  application:
    name: zuul-gateway-server


eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: https://rios-discovery-service.herokuapp.com/eureka/

zuul:
  host:
    connect-timeout-millis: 10000
    socket-timeout-millis: 1000000
    
#  prefix: /api
  routes:

    warehouse-service:
      service-id: warehouse-service
      path: /warehouse/**
      uri: lb://WAREHOUSE-SERVICE
      strip-prefix: false

    delivery-service:
      service-id: delivery-service
      path: /delivery/**
      uri: lb://DELIVERY-SERVICE
      strip-prefix: false

    retailShop-service:
      service-id: retailShop-service
      path: /retailshop/**
      uri: lb://RETAILSHOP-SERVICE
      strip-prefix: false

    auth-service:
      service-id: auth-service
      path: /auth/**
      uri: lb://AUTH-SERVICE
      strip-prefix: false
      sensitive-headers: Cookie,Set-Cookie
      
ribbon:
  eureka:
    enabled: true
  ReadTimeout: 60000
  ConnectTimeout: 20000
    
# Increase the Hystrix timeout to 100s (globally)
hystrix:
  command:
    default:
      execution:
        isolation:
          thread:
            timeoutInMilliseconds: 100000







