server:
  port: 8086
  servlet:
    contextPath: /delivery/

spring:
  application:
    name: delivery-service

  datasource:
    url: jdbc:h2:mem:testdb
    driverClassName: org.h2.Driver
    username: rios
    password: password
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
  h2:
    console:
          enabled: true
          path: /h2console/
eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: https://rios-discovery-service.herokuapp.com/eureka/



